@media screen and (max-width: 400px) {
	body {
		background-color: #ccc;
	}
	button.more, button#about_button {
		padding: 10%;
	}
	button.more.blue {
		padding: 5% 10%;
	}
	section {
		background-color: #fff;
	}
	h2 {
		font-size: 2.2em;
	}


	header {
		background-position: 50% 0%;
	}
	#header_title {
		top: 33%;
		left: 6%;
	}
	#header_title > h1 {
		font-size: 3.2em;
		line-height: 1;
		margin-block-start: 0;
		margin-block-end: 0;
	}
	#header_title > .flex_container {
		flex-direction: column;
		width: 60%;
	}
	button#about_button {
		margin: 0;
		margin-top: 10%;
	}


	#about_corona {
		position: relative;
		top: 0;
		width: 100%;
		margin-bottom: 10px;
		border-radius: 0px;
		padding: 6% 30px;
		padding-top: 10%;
		background-color: white;
		box-shadow: none;
	}
	#about_corona:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0.1;
		background-image: url("../files/corona.png");
		background-position: -10% 0;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.text_and_button > h3 {
		margin-block-start: 0;
		margin-block-end: 0.2em;
		font-size: 2em;
	}
	.text_and_button > hr {
		width: 50%;
		margin: 0;
		border-top: 7px solid #ed242e;
		border-radius: 10px;
	}
	.text_and_button > p {
		margin-block-start: 2.5em;
		margin-block-end: 1.5em;
	}
	.text_and_button > button.more.blue {
		position: relative;
		z-index: 2;
	}
	#about_corona > .flex_container > .image {
		display: none;
	}


	#symptoms {
		width: 100%;
		margin-bottom: 10px;
		padding: 6% 30px;
	}
	#symptoms > .flex_container > .image {
		display: none;
	}
	#symptoms > .flex_container > .text_and_button > h2 {
		width: 80%;
	}


	#protection {
		margin-bottom: 10px;
	}
	#protection_title {
		padding: 1% 10px;
	}
	#protection_title > h2 {
		line-height: 1;
	}
	#protection_methods {
		width: 100%;
		height: 78vh;
		border-radius: 0px;
		background-image: none;
		background-size: contain;
	}
	#protection_methods:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		background-image: url("../files/protect.png");
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-size: cover;
	}
	#protection_methods > .overlay {
		border-radius: 0;
	}
	#protection_methods > .flex_container {
		flex-direction: column;
		width: 95%;
		padding: 5% 0;
	}
	#protection_methods > .flex_container > div {
		margin: 0;
		text-align: center;
		font-size: 0.85em;
	}
	#protection_methods > .flex_container > div > div.content {
		height: auto;
		border-radius: 0;
		padding: 0 1%;
	}
	div.content > .flex_container {
		justify-content: space-between;
		align-items: center;
	}
	.text_container {
		width: 70%;
	}
}