* {
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
button {
	cursor: pointer;
}
button.more, button#about_button {
	border: 0;
	padding: 2% 10%;
	font-weight: bold;
}
button.more {
	color: white;
}
button.more.red {
	background-color: #ed1c24;
}
button.more.blue {
	background-color: #05254d;
}
h2 {
	font-size: 2.4em;
}
.flex_container {
	display: flex;
}
.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}


header {
	color: white;
	height: 105vh;
	background-image: url("../files/header/background.png");
	background-size: cover;
}
#header_nav {
	display: flex;
	justify-content: space-between;
	background-color: #ed242e;
}
#search, #user {
	padding: 0 2%;
	background-color: #00132b;
}
#search > img, #user > img {
	filter: invert(100%) sepia(63%) saturate(0%) hue-rotate(65deg) brightness(105%) contrast(101%);
	width: 16px;
	margin-top: 100%;
}
#header_nav > ul {
	display: flex;
	justify-content: center;
	width: 100%;
	list-style: none;
}
#header_nav > ul > li {
	padding: 1px 2%;
}
#header_nav > ul > li > a {
	color: white;
	text-decoration: none;
}
#header_nav > ul > li > a:hover {
	color: #ddd;
}
#header_title {
	display: inline-block;
	position: relative;
	left: 20%;
	top: 25%;
}
#header_title > h1 {
	font-size: 4.5em;
	line-height: 1;
	margin-block-start: 0;
	margin-block-end: 0;
}
button#about_button {
	color: #00132b;
	margin-left: 3%;
}


#about_corona {
	position: relative;
	z-index: 2;
	top: -115px;
	width: 80%;
	margin: auto;
	border-radius: 50px;
	padding: 5% 60px;
	padding-top: 7%;
	background-color: white;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
#about_corona > .flex_container {
	justify-content: space-evenly;
}
#about_corona > .flex_container > #text_and_button {
	width: 50%;
}
#about_corona > .flex_container > .image > img {
	height: 45vh;
}
.text_and_button > h3 {
	margin-block-start: 0;
	margin-block-end: 0.2em;
	font-size: 2.5em;
}
.text_and_button > p {
	margin-block-start: 3em;
	margin-block-end: 1.5em;
}
.text_and_button > hr {
	width: 10%;
	margin: 0;
	border-top: 7px solid #ed242e;
	border-radius: 10px;
}
.text_and_button > button.more {
	font-weight: bold;
}


#symptoms {
	width: 70%;
	margin: auto;
	margin-bottom: 80px;
	overflow: auto;
}
#symptoms > .flex_container {
	align-items: center;
}
#symptoms > .flex_container > .image > img {
	height: 350px;
	margin-right: 50px;
}
#symptoms > .flex_container > .text_and_button > h2 {
	width: 50%;
	line-height: 1;
}


#protection {
	margin-bottom: 80px;
}
#protection_title {
	text-align: center;
	margin-block-start: 0;
	margin-block-end: 0;
}
#protection_methods {
	background-image: url("../files/protect.png");
	background-size: cover;
	background-position: 40% 0;
	background-repeat: no-repeat;
	width: 90%;
	height: 90vh;
	margin: 2% auto;
	border-radius: 200px;
	position: relative;
}
#protection_methods > .overlay {
	background-color: #00132b;
	opacity: 0.5;
	border-radius: 200px;
}
#protection_methods > .flex_container {
	justify-content: space-between;
	width: 80%;
	margin: auto;
	position: relative;
	z-index: 2;
}
#protection_methods > .flex_container > div {
	margin: 0 1%;
	margin-top: 15%;
	text-align: center;
}
#protection_methods > .flex_container > div > div.content {
	height: 50vh;
	border-radius: 15px;
	padding: 5% 4%;
	padding-top: 15%;
	background-color: white;
	color: black;
}
div.content > .flex_container {
	flex-direction: column;
}
.text_container > button.more.red, .text_container > button.more.blue {
	display: none;
}
br + button.more {
	padding: 5% 8%; 
}



#cases {
	width: 90%;
	margin: auto;
	margin-bottom: 80px;
}
#cases > h2, #cases > p {
	text-align: center;
	margin-block-start: 0;
	margin-block-end: 0;
}
#cases > p {
	width: 60%;
	margin: auto;
}
#cases > .flex_container {
	justify-content: space-between;
	margin-top: 3%;
}
#case_1, #case_2, #case_3 {
	width: 32.5%;
	padding: 1%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#case_1 > .image_and_button, #case_2 > .image_and_button, #case_3 > .image_and_button {
	height: 200px;
	background-size: cover;
	position: relative;
}
#case_1 > .image_and_button {
	background-image: url("../files/cases/1.png");
}
#case_2 > .image_and_button {
	background-image: url("../files/cases/2.png");
}
#case_3 > .image_and_button {
	background-image: url("../files/cases/3.png");
}
.image_and_button + .text {
	text-align: center;
	margin-top: 50px;
}
.image_and_button + .text > h3 {
	margin-block-end: 0;
	font-size: 1.6em;
	line-height: 0.2;
}
.image_and_button > button {
	margin: 20% 0 0 30%;
}



#doctors {
	width: 70%;
	margin: auto;
	margin-bottom: 80px;
}
#doctors > h2 {
	padding-bottom: 60px;
	text-align: center;
}
.doctor {
	height: 375px;
	margin: 10px 1%;
	padding: 2% 4%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	text-align: center;
}
.doctor > .content {
	position: relative;
	top: -75px;
}
.doctor > .content > .text_container > h3 {
	font-size: 1.4em;
}
.doctor > .content:after {
	content: "â";
	font-size: 5em;
}


#keep_updated > h2 {
	text-align: center;
}
#keep_updated > #form_container {
	background-image: url("../files/news_background.png");
	background-repeat: no-repeat;
	background-position: 30% 0;
	background-size: cover;
}
#keep_updated > #form_container > form {
	text-align: center;
}
#form_container > form > input[type="email"] {
	background-color: transparent;
	color: white;
	width: 80%;
	margin-top: 60px;
	border: 1px solid white;
	border-radius: 40px;
	padding: 25px 20px;
}
::placeholder {
	color: white;
}
#form_container > form > input[type="submit"] {
	background-color: #0a264a;
	color: white;
	font-weight: bold;
	margin: 40px 0;
	border: none;
	border-radius: 25px;
	padding: 20px 80px;
	cursor: pointer;
}


footer {
	background-color: black;
	color: white;
}
footer > .flex_container {
	justify-content: space-between;
	width: 80%;
	margin: auto;
	padding: 25px 0;
}
footer > .flex_container > div {
	margin: 0 2%;
}
#resources > p {
	margin-block-start: 0;
	margin-block-end: 0.5em;
}
#resources > p > a {
	text-decoration: none;
	color: white;
}
#about {
	width: 30%;
}
#contacts > ul {
	padding-inline-start: 16px;
}